@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #1a1a1a;
}

.header {
    background-color: #011301; 
    color: rgb(250, 245, 245);
    padding: 1rem 2rem;
    text-align: left; 
}

.logo__text {
    font-weight: bold;
    font-size: 1.2rem;
}


.hero {
    background-color: #0e2c1a;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 60px); 
    padding: 4rem 2rem;
}

.hero__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto;
    gap: 6rem;
}

.hero__image-container { 
    margin-right: 0;
}

.hero__image {
    height: auto; 
    max-width: auto;
}

.hero__text-box {
    background-color: #2b9356; 
    color: white;
    padding: 2.5rem;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    flex-grow: 1; 
}

.hero__cta-group {
    display: flex;
    align-items: center; 
    gap: 1rem; 
    margin-top: 1.5rem; 
}

.hero__subtitle {
    background-color: #0b1b08; 
    color: rgb(46, 190, 82);
    padding: 0.8rem 1.5rem;
    border-radius: 30px; 
    font-size: 1.2rem;
    font-weight: normal;
}

.recycle-icon {
    font-size: 3rem; 
    color: #2ECC71; 
}

.recycle-icon {
    font-size: 3rem; 
    color: #2ECC71; 
}

.recycle-icon-svg {
    height: 3%;
    width: auto;
    fill: #2ECC71; 
}

@media (max-width: 768px) {
    .header {
        text-align: left;
    }
    
    .hero {
        padding: 1rem;
    }

    .hero__wrapper {
        flex-direction: column; 
        gap: 2rem;
    }
    
    .hero__image-container {
        margin-right: 0; 
    }

    .hero__image {
        height: 250px; 
    }

    .hero__text-box {
        padding: 1.5rem;
        max-width: 100%;
    }
}